.container-side {
    width: 44%;
    height: 80%;
    position: relative;
    margin: 0 auto;
    z-index: 999;
  }
  .container-pokemon {
    width: 134%;
    height: 94%;
    position: relative;
    background-color: rgb(122 220 255 / 50%);
    top: 3%;
    left: -17%;
}