.container-side {
    width: 60%;
    height: 75%;
    position: relative;
    z-index: 999;
    top: 10%;
  }
  .container-pokemon {
    width: 100%;
    height: 94%;
    position: relative;
    background-color: rgb(122 220 255 / 50%);
    top: 3%;
    left: 0%;
    padding-left: 5%;
    padding-right: 5%;
}


/* Responsive */

@media screen and (max-width: 1200px) {
  .container-side {
    width: 55%;
    height: 70%;
    top: 15%;
  }
}


@media screen and (max-width: 1080px) {
  .container-side {
    width: 50%;
    height: 65%;
  }
}


@media screen and (max-width: 850px) {
  .container-side {
    width: 55%;
    height: 55%;
  }
}


@media screen and (max-width: 720px) {
  .container-side {
    width: 60%;
    height: 50%;
  }
  .container-pokemon {
    left: 1%;
  }
}


@media screen and (max-width: 600px) {
  .container-side {
    width: 60%;
    height: 60%;
  }
  .container-pokemon {
    width: 78%;
    height: 100%;
    top: 0%;
    left: 11%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 11%;
    padding-bottom: 6%;
  }
}


@media screen and (max-width: 530px) {
  .container-pokemon {
    width: 90%;
    left: 5%;
  }
}



@media screen and (max-width: 450px) {
  .container-side {
    width: 75%;
    height: 65%;
  }
  .container-pokemon {
    width: 94%;
    left: 3%;
  }
}



@media screen and (max-width: 414px) {
  .container-pokemon {
    width: 95%;
    left: 5%;
  }
}