.pokedex-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 92%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    z-index: 999;
    margin-right: 5px;
    padding-top: 10px;
    padding-left: 15px;
    top: 8%;
}
.pokedex-container::-webkit-scrollbar {
    width: 0.5rem;
    padding-right: 10px;
}
.pokedex-container::-webkit-scrollbar-track {
    background: transparent;
}
.pokedex-container::-webkit-scrollbar-thumb {
    background: #c70000;
    border-radius: 5px;
}
.container-pokemon .icon-back-ios-regions {
    position: absolute;
    top: 1%;
    left: 5%;
    cursor: pointer;
  }


  /* Responsive */

  @media screen and (max-width: 1200px) {
    .pokedex-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }