.pokedex-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 92%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    /* z-index: 999; */
    margin-right: 5px;
    padding-top: 10px;
    padding-left: 15px;
    top: 8%;
}
.pokedex-container::-webkit-scrollbar {
    width: 0.5rem;
    padding-right: 10px;
}
.pokedex-container::-webkit-scrollbar-track {
    background: transparent;
}
.pokedex-container::-webkit-scrollbar-thumb {
    background: #c70000;
    border-radius: 5px;
}
.form-pokemon-search {

}
.search {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}
.container-pokemon .icon-back-ios-regions {
    /* position: absolute;
    top: 1%;
    left: 5%; */
    cursor: pointer;
    color: #002f40;
  }
  .pokemon-search {
    border: none;
    border-radius: 20px;
    outline: none;
    height: 4vh;
    padding-left: 5%;
    background-color: #002f403b;
    color: #002f40;
    font-size: 16px;
    font-weight: bold;
  }
  .pokemon-search::-webkit-input-placeholder {
    color: #002f40;
    font-weight: normal;
  }
  .button-pokemon-search {
    position: absolute;
    border: 0;
    outline: none;
    background: transparent;
    right: 0%;
    top: 25%;
    height: 50%;
    cursor: pointer;
  }
  .form-pokemon-search .icon-submit-pokemon-search {
    height: 100%;
    color: #002f40;
  }


  /* Responsive */

  @media screen and (max-width: 1200px) {
    .pokedex-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  


@media screen and (max-width: 950px) {
  .pokedex-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width: 720px) {
  .pokedex-container {
    padding-left: 6%;
    padding-right: 2%;
  }
  .container-pokemon .icon-back-ios-regions {
    left: 10%;
  }
}



@media screen and (max-width: 600px) {
  .pokedex-container {
    padding-left: 5%;
    padding-right: 0%;
    padding-top: 0%;
  }
  .container-pokemon {
    left: 11%;
  }
  .container-pokemon .icon-back-ios-regions {
    left: 10%;
  }
  .pokedex-container::-webkit-scrollbar {
      width: 0rem;
      padding-right: 0;
  }
  .pokedex-container::-webkit-scrollbar-track {
      background: transparent;
  }
  .pokedex-container::-webkit-scrollbar-thumb {
      background: #c70000;
      border-radius: 0px;
  }
  .container-pokemon .icon-back-ios-regions {
      position: absolute;
      top: 6%;
      left: 5%;
      cursor: pointer;
      font-size: 1.5rem;
    }
}