.container-region {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 3% 0;
    padding-top: 1%;
    overflow: auto;
    height: 100%;
}
.container-region::-webkit-scrollbar {
  width: 0.5rem;
  padding-right: 10px;
}
.container-region::-webkit-scrollbar-track {
  background: transparent;
}
.container-region::-webkit-scrollbar-thumb {
  background: #c70000;
  border-radius: 5px;
}
.outline {
    width: 140px;
    height: 140px;
    border: 15px solid #008bbda3;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }
  .in {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ececec;
  }
  .in-top {
    height: 40%;
    width: 90%;
    display: flex;
    position: absolute;
    top: 0;
    left: 5%
  }
  .in-top--left {
    height: 100%;
    width: 50%;
    border-left: 30px solid #008bbda3;
    border-top: 30px solid #008bbda3;
    border-radius: 100% 0 0 0;
  }
  .in-top--right {
    height: 100%;
    width: 50%;
    border-right: 30px solid #008bbda3;
    border-top: 30px solid #008bbda3;
    border-radius: 0 100% 0 0;
  }
  
  .in-bottom {
    height: 40%;
    width: 90%;
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 5%;
  }
  .in-bottom--left {
    height: 100%;
    width: 50%;
    border-left: 30px solid #008bbda3;
    border-bottom: 30px solid #008bbda3;
    border-radius: 0 0 0 100%;
  }
  .in-bottom--right {
    height: 100%;
    width: 50%;
    border-right: 30px solid #008bbda3;
    border-bottom: 30px solid #008bbda3;
    border-radius: 0 0 100% 0;
  }


  /* Responsive */

  @media screen and (max-width: 1200px) {
    .outline {
      width: 130px;
      height: 130px;
    }
    .in-top--left {
      border-left: 25px solid #008bbda3;
      border-top: 25px solid #008bbda3;
    }
    .in-top--right {
      border-right: 25px solid #008bbda3;
      border-top: 25px solid #008bbda3;
    }
    .in-bottom--left {
      border-left: 25px solid #008bbda3;
      border-bottom: 25px solid #008bbda3;
    }
    .in-bottom--right {
      border-right: 25px solid #008bbda3;
      border-bottom: 25px solid #008bbda3;
    }
  }


  @media screen and (max-width: 1080px) {
    .container-region {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .outline {
      width: 120px;
      height: 120px;
    }
    .title-region {
      font-size: 16px;
    }
    .in-top--left {
      border-left: 20px solid #008bbda3;
      border-top: 20px solid #008bbda3;
    }
    .in-top--right {
      border-right: 20px solid #008bbda3;
      border-top: 20px solid #008bbda3;
    }
    .in-bottom--left {
      border-left: 20px solid #008bbda3;
      border-bottom: 20px solid #008bbda3;
    }
    .in-bottom--right {
      border-right: 20px solid #008bbda3;
      border-bottom: 20px solid #008bbda3;
    }
  }


  @media screen and (max-width: 850px) {
    .container-region {
      grid-template-columns: 1fr 1fr;
    }
  }