.link-card {
  margin-right: 10px;
  margin-bottom: 10px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid white; */
  border-radius: 20%;
  /* margin-right: 10px;
  margin-bottom: 10px; */
  position: relative;
  background: rgb(255 255 255 / 20%);
  height: 150px;
  cursor: pointer;
}
.img-pokemon {
  height: 100%;
  margin-top: 10px;
  position: absolute;
  bottom: -5%;
  /* left: 10%; */
}
/* .img-pokemon:hover {
  width: 150px;
  position: absolute;
  top: 10%;
  transition: all 1s;
} */
.title-pokemon {
  position: absolute;
  top: 0%;
  left: 10%;
}
.text-pokemon {
  text-transform: capitalize;
}
.type {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20%;
  right: 10%;
  border-radius: 10px;
  z-index: 1;
}
.type-normal {
  background-color: #929191;
}
.type-fighting {
  background-color: #ab0000;
}
.type-flying {
  background-color: #03a9f4;
}
.type-poison {
  background-color: #9c27b0;
}
.type-ground {
  background-color: #b08400;
}
.type-rock {
  background-color: #9e5e00;
}
.type-bug {
  background-color: #8d9c00;
}
.type-ghost {
  background-color: #512da8;
}
.type-steel {
  background-color: #85929E;
}
.type-fire {
  background-color: #ff3f03;
}
.type-water {
  background-color: #0328f4;
}
.type-grass {
  background-color: #00a60f;
}
.type-electric {
  background-color: #ffbf00;
}
.type-psychic {
  background-color: #ff00c4;
}
.type-ice {
  background-color: #00eee7;
}
.type-dragon {
  background-color: #4908bd;
}
.type-dark {
  background-color: #3e2723;
}
.type-fairy {
  background-color: #e440ff;
}
.type-unknown {
  background-color: #455a64;
}
.type-shadow {
  background-color: black;
}
.type-secondary {
  top: 40%;
}



/* Responsive */


@media screen and (max-width: 1080px) {
  .card-container {
    height: 135px;
  }
  .title-pokemon {
    top: 3%;
    left: 8%;
    font-size: 17px;
  }
}


@media screen and (max-width: 600px) {
  .title-pokemon {
    font-size: 14px;
  }
  .type {
    width: 15px;
    height: 15px;
  }
  .type-secondary {
    top: 35%;
  }
}